<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.fruitfruit.notice.NoticeMapper">
	<resultMap type = "com.project.fruitfruit.notice.Notice" id="notice">
		<result property="notice_num" column="notice_num"/>
		<result property="notice_type" column="notice_type"/>
		<result property="notice_title" column="notice_title"/>
		<result property="notice_content" column="notice_content"/>
		<result property="notice_date" column="notice_date"/>
		<result property="notice_path" column="notice_path"/>
		<result property="notice_hit" column="notice_hit"/>
	</resultMap>
	
<!-- 공지사항 등록 -->
	<insert id = "insertNotice" parameterType="com.project.fruitfruit.notice.Notice">
		insert into notice
		VALUES(
			seq_notice.nextval,
			#{notice_type},
			#{notice_title},
			#{notice_content},
			sysdate,
			0
			)
	</insert>
	
	<!-- 공지사항 전체 출력 -->
	<select id="selectAllNotice" resultMap="notice">
		SELECT	*
		FROM	notice
		ORDER BY notice_num
	</select>

	<!-- notice_num으로 출력 -->
	<select id = "selectNotice" parameterType="int" resultMap="notice">
		SELECT *
		FROM	notice
		WHERE	notice_num = #{notice_num}
	</select>

	<!-- 공지사항 수정 -->
	<update id = "updateNotice" parameterType="com.project.fruitfruit.notice.Notice">
		UPDATE	notice
		SET		
		notice_type =#{notice_type},
		notice_title = #{notice_title},
				notice_content = #{notice_content}
		WHERE notice_num = #{notice_num}
	</update>

	<!-- 조회수 증가 -->
	<update id="noticeHits" parameterType="int">
		UPDATE		notice
		SET			notice_hit = notice_hit+1
		WHERE		notice_num = #{notice_num}
	</update>

	<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE
		FROM	notice
		WHERE	notice_num = #{notice_num}
	
	</delete>
	
	<select id="selectSeqCurrval" resultType="int">
		select
		seq_notice.currval from dual
	</select>
</mapper>	
