<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.fruitfruit.answer.AnswerMapper">
	<resultMap type="com.project.fruitfruit.answer.Answer" id="answer">
		<result column="answer_num" property="answer_num" />
		<result column="help_num" property="help_num" />
		<result column="user_id" property="user_id" />
		<result column="answer_content" property="answer_content" />
		<result column="answer_date" property="answer_date" />
	</resultMap>
	
	<insert id = "insertAnswer" parameterType="com.project.fruitfruit.answer.Answer"> <!-- 답글 등록 -->
		insert into answer
		VALUES(
			seq_answer.nextval,
			#{help_num},
			#{user_id},
			#{answer_content},
			sysdate
			)
	</insert>

	<!-- help_num과 일치하는 행 가져오기 -->
	<select id = "selectAnswer" parameterType="int" resultMap="answer">
		SELECT *
		FROM	answer
		WHERE	help_num = #{help_num}
	</select>

	<!-- 답글 수정 -->
	<update id = "updateAnswer" parameterType="com.project.fruitfruit.answer.Answer">
		UPDATE	answer
		SET		
		answer_content = #{answer_content},
		answer_date = sysdate
		WHERE answer_num = #{answer_num}
	</update>

	<!-- 삭제 -->
	<delete id="deleteAnswer" parameterType="int"> <!--  답글 번호와 일치하는 행 삭제 -->
		DELETE
		FROM	answer
		WHERE	answer_num = #{answer_num}
	
	</delete>
	
	<select id="selectSeqCurrval" resultType="int"> <!-- 마지막 시퀀스 번호 호출 -->
		select
		seq_answer.currval from dual
	</select>
</mapper>
