<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.fruitfruit.category.CategoryMapper">
   <resultMap type="com.project.fruitfruit.category.Category" id="category">
      <result property="cate_num" column="cate_num"/>
      <result property="cate_name" column="cate_name"/>
      <result property="cate_parent_num" column="cate_parent_num"/>
   </resultMap>
</mapper>