<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.fruitfruit.order.OrderMapper">
	<resultMap type="com.project.fruitfruit.order.Order" id="frfr_order">
		<result property="order_num" column="order_num" />
		<result property="product_num" column="product_num" />
		<result property="order_id" column="order_id" />
		<result property="order_count" column="order_count" />
		<result property="order_type" column="order_type" />	
		<result property="order_date" column="order_date" />	
	</resultMap>
	
	<insert id="insertOrder" parameterType="com.project.fruitfruit.order.Order"> <!-- 주문 등록 -->
	insert into frfr_order values(seq_frfr_order.nextval, #{product_num}, #{order_id}, #{order_count}, #{order_type}, sysdate)
	</insert>
	
	<select id="selectOrderByOrderId" parameterType="String" resultMap="frfr_order"> <!-- 구매자 아이디와 일치하는 주문 목록 출력 -->
	select* from frfr_order where order_id=#{order_id} order by order_num desc
	</select>
	
	<select id="selectOrderByOrderNum" parameterType="int" resultMap="frfr_order"> <!-- 판매자 아이디와 일치하는 주문 목록 출력 -->
	select* from frfr_order where order_num=#{order_num} order by order_num desc
	</select>
	
	<select id="selectOrderByProductNum" parameterType="int" resultMap="frfr_order"> <!-- 판매글 번호와 일치하는 주문 목록 출력 -->
	select* from frfr_order where product_num=#{product_num} order by order_num desc
	</select>
	
	<update id="updateOrderType" parameterType="int"> <!-- 주문번호에 해당하는 주문타입 1상승 -->
	update frfr_order set order_type=order_type+1 where order_num=#{order_num}
	</update>
	
	<update id="cancelOrder" parameterType="int"> <!-- 주문번호에 해당하는 주문 취소 -->
	update frfr_order set order_type=3 where order_num=#{order_num}
	</update>
	
	<delete id="deleteOrder" parameterType="int" > <!-- 주문번호에 해당하는 주문 데이터 삭제-->
	delete from frfr_order where order_num=#{order_num}
	</delete>
	
	<select id="selectSeqCurrval" resultType="int">
		select
		seq_frfr_order.currval from dual
	</select>
</mapper>

