@charset "EUC-KR";
header{
	text-align : center;
	height:150px;
	
}
footer{
	text-align : center;
	height:150px;
}

.f_container{
	display: flex;
	justify-content: center;
	text-align: center;
}

.fi_pd {
    padding-top: 48px ;
    padding-bottom: 34px ;
}

.f_h {
	padding-top: 24px ;
    padding-bottom: 15px ;
    font-size: 22px;
}

.fi_coment{
	line-height: 25px ;
    padding-bottom: 45px ;
}

.f_box{
	width: 650px;
    height: 350px;
}

.f_id_line{
    width: 342px;
    height: 35px;
    border: 1px solid #D1D0CE;
    border-radius: 5px;
    padding-left: 7px;
}
.f_name_title{
	text-align: left;
	padding-left: 150px;
}
.f_tel_title{
	text-align: left;
	padding-left: 150px;
	padding-top: 25px;
}
.f_button{
    width: 350px;
    height: 39px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 33px;
    border: 1px solid #F75D59;
    border-radius: 5px;
    background: #F75D59;
}
.fp_pd {
    padding-top: 27px ;
    padding-bottom: 65px ;
}
.fp_coment{
	line-height: 25px ;
    padding-bottom: 35px ;
}
.fp_id_title{
	text-align: left;
	padding-left: 150px;
}


