@charset "UTF-8";
*{
  padding:0;
  margin: 0;
  box-sizing: border-box; 
  border: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
header{
	text-align : center;
	height:150px;
	
}
footer{
	text-align : center;
	height:150px;
}

.f_container{
	display: flex;
	justify-content: center;
	text-align: center;
}

.f_pd {
    padding-top: 48px ;
    padding-bottom: 74px ;
}

.fi_pd {
    padding-top: 72px ;
    padding-bottom: 78px ;
}

.f_h {
	padding-top: 24px ;
    padding-bottom: 15px ;
    font-size: 22px;
}

.fi_coment{
	line-height: 25px ;
    padding-bottom: 45px ;
    padding-top: 22px;
}

.f_box{
	width: 650px;
    height: 350px;
}

.f_id_line{
    width: 342px;
    height: 35px;
    border: 1px solid #D1D0CE;
    border-radius: 5px;
    padding-left: 7px;
}
.f_name_title{
	text-align: left;
	padding-left: 155px;
}
.f_tel_title{
	text-align: left;
	padding-left: 155px;
	padding-top: 25px;
}
.f_button{
    width: 342px;
    height: 37px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 33px;
    border: 1px solid #F75D59;
    border-radius: 5px;
    background: #F75D59;
}
.fp_pd {
    padding-top: 64px ;
    padding-bottom: 98px ;
}
.fp_coment{
	line-height: 25px ;
    padding-bottom: 35px ;
    padding-top: 20px;
}
.fp_id_title{
	text-align: left;
	padding-left: 155px;
}
.cp_container{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 50px 0px;
}
.cp_h {
	padding-top: 24px ;
    padding-bottom: 62px ;
    font-size: 22px;
}
.cp_newPwd{
	text-align: left;
	padding-left: 155px;
}
.cp_editPwd{
	text-align: left;
	padding-left: 155px;
	padding-top: 25px;
}


