@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  border: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
a {
   text-decoration:none !important 
}
a:hover { 
	text-decoration:none !important 
}
li{
	display : inline-block;
}
input:focus{
	outline:none;
}
input_text{
	width:330px;
	position: relative;
}
button{
  width:352px;
  height:45px;
  font-size:16px;
  cursor: pointer; 
  color:white;
  background: #f02c11;
  border: 1px solid #D1D0CE;
  border-radius:5px;
}
.wrap{
  padding: 0;
   margin: 0;
   box-sizing: border-box; 
   border: 0;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 400;
}
.container{
	width:auto;
 	height:auto;
	display: flex;
	justify-content: center;
}
.content{
	width:430px;
 	height:70vh;
 	background-color:white;
    text-align : center;
    padding : 0px;
    grid-template-columns: 
        [left-navbar-start] 20%
        [left-navbar-end content-start] 60%
        [content-end right-sidebar-start] 20%
        [right-sidebar-end];
    grid-template-rows: 
        [body-start] 80%
        [body-end footer-start] 20%
        [footer-end];
}
.login_panner{
  	padding: 25px;
  	padding-bottom:10px;
}
.id_line,.pwd_line{
	border-radius: 5px;
	border: 1px solid #f02c11;
	height:44px;
    width: 352px;
    margin-left: 14px;
	margin-bottom: 10px;
    padding-top:7px;
    padding-left:8px;
}
.login_img,.login_icon{
	width:20px;
    height:20px;
    opacity:0.5;
    float:left;
    margin-left: 5px;
	margin-top: 2.5px;
}
#user_id,#user_pwd{
  width:250px;
  height:25px;
  font-size:15px;
  margin-top:3px;
  margin-right: 50px;
  width: 225px;
  border: none; 
  background: transparent;
  border-radius:5px
}
.login_option{
	color:#777;
	text-align : center;
	font-size:13px;
	width:362px;
	height:50px;
	display: flex;
	margin-left:2px;
	padding-left:10px;
    justify-content: space-between;
    line-height:45px;
}
input[type=checkbox]{
	display:none;
}
input[type=checkbox] + label { 
	cursor: pointer; 
	/* opacity:0.5; */
	background-image : url('../image/check.png');
	background-repeat : no-repeat;
    background-size : 15px;
    padding-left:20px;
    margin-left: 3px;
}
input[type="checkbox"]:checked + label{
	cursor: pointer; 
	background-image : url('../image/tick.png');
	background-repeat : no-repeat;
    background-size : 15px;
    padding-left:20px;
    margin-left: 3px;
}
.find_text{
	color:#777;
}
.find_inner{
	margin-top:0px;
	float:right;
}
#social_inner{
	margin:0px;
	padding:0px;
}
.social_btn{
	padding: 25px;
}
.social_icon{
	width: 35px;
  	height:35px;
  	overflow: hidden;
  	margin-bottom:10px;
}
.social_text{
	color:#777;
	font-size:16px;
}
.logo{
	height:100px;
	margin-bottom: 15px;
}
.fruit_Logo{
	width: 200px;
  	height:150px;
}
