*{
	padding:0;
	margin: 0;
	box-sizing: border-box; 
	border: 0;
	text-decoration: none;
}

ul.myfruit {
	list-style-type: none;
	background: #F02c11;
	overflow: none;
}

li a {
	padding: 10px;
	display: block;
	color: white;
}

li a:hover {
	background: white;
	color: #F02c11;
}